In [11]:
import numpy as np
import pandas as pd
from datetime import datetime
import datetime

In [12]:
dates = pd.date_range(start='6/24/2015', end='11/1/2016', freq='D', normalize=True)
s = pd.Series((dates[i].dayofweek for i in range(len(dates))), index=dates)

In [13]:
s.name = 'dayofweek'
df = s.to_frame()

In [14]:
#0休息 1工作日
t = s.apply(lambda day: 1 if day >= 0 and day <= 4 else 0)

In [15]:
#法定假日修正
t['2015-09-03'] = 0
t['2015-09-04'] = 0
t['2015-09-06'] = 1

t['2015-10-01'] = 0
t['2015-10-02'] = 0
t['2015-10-05'] = 0
t['2015-10-06'] = 0
t['2015-10-07'] = 0
t['2015-10-10'] = 1

t['2016-01-01'] = 0

t['2016-02-06'] = 1
t['2016-02-08'] = 0
t['2016-02-09'] = 0
t['2016-02-10'] = 0
t['2016-02-11'] = 0
t['2016-02-12'] = 0
t['2016-02-14'] = 1

t['2016-04-04'] = 0

t['2016-05-02'] = 0

t['2016-06-09'] = 0
t['2016-06-10'] = 0
t['2016-06-12'] = 1

t['2016-09-15'] = 0
t['2016-09-16'] = 0
t['2016-09-18'] = 1

t['2016-10-03'] = 0
t['2016-10-04'] = 0
t['2016-10-05'] = 0
t['2016-10-06'] = 0
t['2016-10-07'] = 0
t['2016-10-08'] = 1
t['2016-10-09'] = 1

In [21]:
t['2016-9-18']

1

In [22]:
df['workday'] = t

In [23]:
temp_df = df.reset_index(drop=True)

In [24]:
temp_df['daytype'] = 0

In [25]:
#1r是普通工作日，2g是工作日最后一天 3b是假期第一天 4k是假期中，5y是假期最后一天
for i in range(temp_df.shape[0]):
    if i == 0: 
        if temp_df['workday'][i] == 1:
            temp_df['daytype'][i] = 1;
        else:
            temp_df['daytype'][i] = 3;
    elif i == (temp_df.shape[0] - 1):
        if temp_df['workday'][i] == 1:
            temp_df['daytype'][i] = 1;
        elif temp_df['workday'][i - 1] == 0:
            temp_df['daytype'][i] = 4;
        else:
            temp_df['daytype'][i] = 3;
    else:
        if temp_df['workday'][i] == 1:
            if temp_df['workday'][i + 1] == 0:
                temp_df['daytype'][i] = 2;
            else:
                temp_df['daytype'][i] = 1;
        else:
            if temp_df['workday'][i - 1] == 1:
                temp_df['daytype'][i] = 3;
            elif temp_df['workday'][i + 1] == 1:
                temp_df['daytype'][i] = 5;
            else:
                temp_df['daytype'][i] = 4;

In [26]:
df['daytype'] = temp_df['daytype'].values

In [27]:
df

            dayofweek  workday  daytype
2015-06-24          2        1        1
2015-06-25          3        1        1
2015-06-26          4        1        2
2015-06-27          5        0        3
2015-06-28          6        0        5
2015-06-29          0        1        1
2015-06-30          1        1        1
2015-07-01          2        1        1
2015-07-02          3        1        1
2015-07-03          4        1        2
2015-07-04          5        0        3
2015-07-05          6        0        5
2015-07-06          0        1        1
2015-07-07          1        1        1
2015-07-08          2        1        1
2015-07-09          3        1        1
2015-07-10          4        1        2
2015-07-11          5        0        3
2015-07-12          6        0        5
2015-07-13          0        1        1
2015-07-14          1        1        1
2015-07-15          2        1        1
2015-07-16          3        1        1
2015-07-17          4        1        2
2015-07-18          5        0        3
2015-07-19          6        0        5
2015-07-20          0        1        1
2015-07-21          1        1        1
2015-07-22          2        1        1
2015-07-23          3        1        1
...               ...      ...      ...
2016-10-03          0        0        4
2016-10-04          1        0        4
2016-10-05          2        0        4
2016-10-06          3        0        4
2016-10-07          4        0        5
2016-10-08          5        1        1
2016-10-09          6        1        1
2016-10-10          0        1        1
2016-10-11          1        1        1
2016-10-12          2        1        1
2016-10-13          3        1        1
2016-10-14          4        1        2
2016-10-15          5        0        3
2016-10-16          6        0        5
2016-10-17          0        1        1
2016-10-18          1        1        1
2016-10-19          2        1        1
2016-10-20          3        1        1
2016-10-21          4        1        2
2016-10-22          5        0        3
2016-10-23          6        0        5
2016-10-24          0        1        1
2016-10-25          1        1        1
2016-10-26          2        1        1
2016-10-27          3        1        1
2016-10-28          4        1        2
2016-10-29          5        0        3
2016-10-30          6        0        5
2016-10-31          0        1        1
2016-11-01          1        1        1

[497 rows x 3 columns]

In [28]:
df = df.drop([pd.to_datetime('2016-11-01'), pd.to_datetime('2015-06-24')])

In [29]:
df = df.drop('workday', axis = 1)

In [30]:
df.to_csv("./data/dataset/dataset/calendar.txt", sep='\t', index=True, encoding='UTF-8')