In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import datetime
import time
import predict
import base
import shop_classify as sc

import matplotlib
myfont = matplotlib.font_manager.FontProperties(fname=r'C:/Windows/Fonts/msyh.ttf')
matplotlib.use('qt4agg')  
#指定默认字体  
matplotlib.rcParams['font.sans-serif'] = ['SimHei']   
matplotlib.rcParams['font.family']='sans-serif'  
#解决负号'-'显示为方块的问题  
matplotlib.rcParams['axes.unicode_minus'] = False 

%load_ext autoreload
%autoreload 2

C:\Program Files\Anaconda3\lib\site-packages\matplotlib\__init__.py:1357: UserWarning:  This call to matplotlib.use() has no effect
because the backend has already been chosen;
matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)

In [2]:
#读取休假表
calenders = base.ReadCalendarCSV();
#读取user_pay_count
user_pay_counts = base.ReadUserPayCountCSV();
###读取处理过的商家信息
shop_infos = base.ReadProcessShopInfoCSV();
##读取城市名称对照表
city_names = base.ReadCityNameCSV();
#读取开店时间数据
shop_open_dates = base.ReadShopOpenDateCSV();

In [3]:
%reload_ext autoreload

In [4]:
###读取处理过的商家信息
shop_infos = base.ReadProcessShopInfoCSV();

In [5]:
names = ['3_1', '3_2', '3_3', 'arima']
train_predictions = []
train_evaluations = []

for i in range(len(names)):
    train_evaluations.append(pd.read_csv("./data/dataset/dataset/shop_classify/check/train/" + names[i] + "_evaluation.txt", sep='\t', encoding='UTF-8', index_col=0))
    train_predictions.append(pd.read_csv("./data/dataset/dataset/shop_classify/check/train/" + names[i] + "_prediction.txt", sep='\t', encoding='UTF-8', index_col=0))

In [6]:
#生成训练集

In [7]:
#真实数据2016-9-20~~2016-9-20 + 2016-11-10~~2016-10-24
#calculatePeriodParams(shop_open_dates, user_pay_counts, calenders, start_time, end_time):

In [8]:
train_pay_counts = pd.read_csv("./data/dataset/dataset/shop_classify/check/train/preprocess_data.txt", sep="\t", encoding='UTF-8', index_col=0)

In [9]:
train_pay_counts.columns = range(0,21)

In [10]:
np.mean(train_pay_counts[np.array(range(0,7))],axis=1)

1       232.428571
2        83.571429
3        76.857143
4       124.000000
5       218.285714
6        75.857143
7       132.000000
8        64.571429
9       249.571429
10       80.571429
11       79.714286
12       83.000000
13      229.571429
14       69.142857
15      140.285714
16       48.714286
17       99.714286
18       87.571429
19      165.000000
20      137.714286
21       92.571429
22       87.000000
23      110.857143
24       71.428571
25      117.428571
26       82.857143
27       84.714286
28       76.714286
29      114.428571
30       38.285714
           ...
1971    228.000000
1972     81.857143
1973     62.142857
1974    153.571429
1975    182.857143
1976     90.571429
1977    147.714286
1978    132.142857
1979     73.714286
1980     52.428571
1981     87.428571
1982     66.428571
1983     67.428571
1984     60.857143
1985    417.571429
1986    101.714286
1987     68.142857
1988    211.571429
1989     70.285714
1990     96.714286
1991    140.428571
1992     61.857143
1993     77.428571
1994    154.428571
1995     58.428571
1996     84.000000
1997    220.142857
1998    362.000000
1999    332.857143
2000    123.857143
dtype: float64

In [11]:
week_num = 3

func_names = ['mean', 'std', 'max', 'min']
funcs = [np.mean, np.std, np.max, np.min]
real_params = {}

for t in range(len(func_names)):
    params = []
    for w in range(week_num):
        params.append(funcs[t](train_pay_counts[np.array(range(w*7, w*7+7))],axis=1))
    
    real_params[func_names[t]] = params

In [12]:
real_params['max'][1]

1       264
2       155
3       119
4       200
5       274
6       137
7       208
8       103
9       282
10      111
11      113
12       83
13      297
14       79
15      203
16       69
17      123
18      112
19      255
20      167
21      114
22      127
23       18
24      124
25      147
26      147
27      101
28       86
29      187
30       58
       ...
1971    263
1972    151
1973     76
1974    190
1975    274
1976    107
1977    158
1978    273
1979     74
1980     68
1981    111
1982     81
1983    123
1984     69
1985    571
1986    105
1987    145
1988    305
1989    143
1990    119
1991    150
1992    121
1993     80
1994    158
1995     71
1996     89
1997    341
1998    513
1999    538
2000    177
dtype: int64

In [13]:
predict_params = []

for i in range(len(names)):
    predction = train_predictions[i];
    predict_params.append([predction.mean(axis=1), predction.std(axis=1), predction.max(axis=1), predction.min(axis=1)])

In [14]:
predict_params[1][0]

1       229.714286
2        92.714286
3        83.428571
4       121.142857
5       229.142857
6        99.000000
7       138.142857
8        69.571429
9       228.714286
10       94.857143
11       82.571429
12       58.714286
13      243.285714
14       53.571429
15      143.000000
16       48.857143
17       94.857143
18       79.571429
19      166.857143
20      150.142857
21       86.714286
22      105.142857
23        9.714286
24       92.142857
25      122.857143
26       88.285714
27       83.857143
28       70.285714
29      117.714286
30       43.857143
           ...
1971    215.714286
1972     90.142857
1973     51.571429
1974    148.142857
1975    209.142857
1976     95.857143
1977    131.000000
1978    198.285714
1979     65.857143
1980     49.714286
1981     99.000000
1982     63.714286
1983     96.571429
1984     57.000000
1985    477.142857
1986     92.428571
1987     70.571429
1988    204.571429
1989     77.428571
1990     93.571429
1991    131.142857
1992     77.857143
1993     65.285714
1994    142.285714
1995     63.285714
1996     77.142857
1997    238.142857
1998    446.857143
1999    354.142857
2000    132.571429
dtype: float64

In [15]:
def initFeatures(t):
    X_train_df = pd.DataFrame()
    X_train_df['mean1'] = real_params['mean'][0]
    X_train_df['mean2'] = real_params['mean'][1]
    X_train_df['mean3'] = real_params['mean'][2]
    X_train_df['std1'] = real_params['std'][0]
    X_train_df['std2'] = real_params['std'][1]
    X_train_df['std3'] = real_params['std'][2]
    X_train_df['min1'] = real_params['min'][0]
    X_train_df['min2'] = real_params['min'][1]
    X_train_df['min3'] = real_params['min'][2]
    X_train_df['max1'] = real_params['max'][0]
    X_train_df['max2'] = real_params['max'][1]
    X_train_df['max3'] = real_params['max'][2]
    X_train_df['mean_diff1'] = real_params['mean'][0] - real_params['mean'][1]
    X_train_df['mean_diff2'] = real_params['mean'][1] - real_params['mean'][2]
    X_train_df['mean_diff3'] = real_params['mean'][2] - real_params['mean'][0]

    X_train_df['std_diff1'] = real_params['std'][0] - real_params['std'][1]
    X_train_df['std_diff2'] = real_params['std'][1] - real_params['std'][2]
    X_train_df['std_diff3'] = real_params['std'][2] - real_params['std'][0]

    X_train_df['max_diff1'] = real_params['max'][0] - real_params['max'][1]
    X_train_df['max_diff2'] = real_params['max'][1] - real_params['max'][2]
    X_train_df['max_diff3'] = real_params['max'][2] - real_params['max'][0]

    X_train_df['min_diff1'] = real_params['min'][0] - real_params['min'][1]
    X_train_df['min_diff2'] = real_params['min'][1] - real_params['min'][2]
    X_train_df['min_diff3'] = real_params['min'][2] - real_params['min'][0]

#     if t == '3_1':
#         X_train_df['mean4_pred_1'] = predict_params[0][0]
#         X_train_df['std4_pred_1'] = predict_params[0][1]
#         X_train_df['max4_pred_1'] = predict_params[0][2]
#         X_train_df['min4_pred_1'] = predict_params[0][3]
#     elif t == '3_2':
#         X_train_df['mean4_pred_1'] = predict_params[1][0]
#         X_train_df['std4_pred_1'] = predict_params[1][1]
#         X_train_df['max4_pred_1'] = predict_params[1][2]
#         X_train_df['min4_pred_1'] = predict_params[1][3]
#     elif t == '3_3':
#         X_train_df['mean4_pred_1'] = predict_params[2][0]
#         X_train_df['std4_pred_1'] = predict_params[2][1]
#         X_train_df['max4_pred_1'] = predict_params[2][2]
#         X_train_df['min4_pred_1'] = predict_params[2][3]


    X_train_df = X_train_df.astype(np.int)
    X_train_df = pd.concat([X_train_df, shop_infos], axis=1)
    return X_train_df;

In [16]:
mean_type = '3_3'
X_train_df = initFeatures(mean_type)

In [17]:
#["2_2_1", '2_2_2', '3_3_1', '3_3_2', '3_3_3', 'arima']
#["2_2_1", '2_2_2', '3_3_1', '3_3_2', '3_3_3', 'arima']
def changeType(name):
    if name == 'arima':
        return 1
    else:
        return 0;

In [18]:
combine_df = pd.DataFrame()
for i in range(len(names)):
    combine_df[names[i]] = train_evaluations[i]['evaluation']

In [19]:
delta = 0.01
diff_evaluation = combine_df['arima'][combine_df[mean_type] - combine_df['arima'] > delta]

In [20]:
combine_df[mean_type] = combine_df[mean_type].apply(lambda e : e - delta)

In [21]:
y_train_df = combine_df[['arima', mean_type]].idxmin(1)

In [22]:
y_train_df = y_train_df.apply(changeType)

In [23]:
y_train_df.value_counts()

0    1764
1     236
dtype: int64

In [24]:
diff_evaluation.to_frame().sort_values('arima')

         arima
id
1012  0.019339
145   0.021382
395   0.022808
481   0.027326
1610  0.028371
185   0.028696
1363  0.029478
1937  0.030025
1667  0.031715
1341  0.032497
1976  0.032760
1791  0.032883
356   0.033273
1859  0.034730
1015  0.036332
1888  0.036754
965   0.036819
1111  0.038968
1073  0.039309
409   0.039753
1244  0.039968
152   0.040025
1504  0.040680
906   0.040895
247   0.041313
1603  0.042052
475   0.042099
977   0.042199
742   0.042575
71    0.042844
...        ...
840   0.138320
635   0.142632
492   0.143029
222   0.143086
97    0.143664
769   0.144883
735   0.148167
170   0.149803
1436  0.153789
437   0.153906
1721  0.155362
254   0.162017
1397  0.162463
381   0.167195
1740  0.186760
202   0.189718
81    0.196258
512   0.197030
1050  0.198532
1161  0.225196
491   0.227069
1803  0.237042
1973  0.263168
308   0.281484
1650  0.288762
752   0.327874
5     0.340457
1145  0.368954
1526  0.425332
659   0.447581

[236 rows x 1 columns]

In [25]:
y_train_df.to_csv("./data/dataset/dataset/shop_classify/check/train/y_train.txt", sep='\t', index=True, encoding='UTF-8')

In [26]:

X_train_df.to_csv("./data/dataset/dataset/shop_classify/check/train/X_train.txt", sep='\t', index=True, encoding='UTF-8')

In [120]:
%reload_ext autoreload