In [1]:
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import datetime
import time

In [2]:
import matplotlib
myfont = matplotlib.font_manager.FontProperties(fname=r'C:/Windows/Fonts/msyh.ttf')
matplotlib.use('qt4agg')  
#指定默认字体  
matplotlib.rcParams['font.sans-serif'] = ['SimHei']   
matplotlib.rcParams['font.family']='sans-serif'  
#解决负号'-'显示为方块的问题  
matplotlib.rcParams['axes.unicode_minus'] = False

C:\Program Files\Anaconda3\lib\site-packages\matplotlib\__init__.py:1357: UserWarning:  This call to matplotlib.use() has no effect
because the backend has already been chosen;
matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)

In [3]:
#读取user_pay_count
user_pay_count_df = pd.read_csv("./data/dataset/dataset/user_pay_count.txt", sep='\t', encoding='UTF-8', parse_dates=True, index_col=0)
user_pay_count_df.columns = user_pay_count_df.columns.map(lambda str_date:datetime.datetime.strptime(str_date, "%Y-%m-%d %H:%M:%S"))

In [4]:
#读取开店时间数据
shop_open_date = pd.read_csv("./data/dataset/dataset/shop_open_date.txt", sep='\t', index_col=0,encoding='UTF-8',parse_dates=[1])

In [5]:
###读取商家信息
shop_infos = pd.read_csv("./data/dataset/dataset/shop_info.txt",
                         encoding='UTF-8',header=None,
                        names=['id','city','loc','per_pay','score',
                               'comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name'], index_col=0, converters={'cate_3_name':np.str})

#dtype={'id':np.int,'city':np.str,'loc':np.int,'per_pay':np.int,'score':np.int,
#                               'comment_cnt':np.int,'shop_level':np.int,'cate_1_name':np.str,'cate_2_name':np.str,'cate_3_name':np.str}

##经查看，只有cate_1_name 是超市便利店的项 cate_3_name 为NULL score为NULL comment_cnt 为NULL 且shop_level <= 1
shop_infos['cate_3_name'] = shop_infos['cate_3_name'].astype(str)

In [6]:
##读取城市名称对照表
city_names = pd.read_csv("./data/dataset/dataset/city_name.txt", index_col=0, encoding='UTF-8',parse_dates=True)

In [7]:
#读取休假表
calendar = pd.read_csv('./data/dataset/dataset/calendar.txt', sep='\t', encoding='UTF-8', index_col=0, parse_dates=True)
calendar.index = calendar.index.format()

In [8]:
#读取天气信息
def readWeatherCsv(city):
    city_pinyin = city_names.loc[city]['pinyin']
    weather_info = pd.read_csv("./data/dataset/dataset/" + city_pinyin, index_col=0, encoding='UTF-8',parse_dates=True)
    return weather_info;

In [9]:
def getShopPayTimeSeries(shop_id, date_range):
     return user_pay_count_df.ix[shop_id][date_range[0]:(date_range[1] + datetime.timedelta(hours=23))]

In [10]:
def getShopPayTimePeriods(shop_id, date_range, time_range):
    ts = getShopPayTimeSeries(shop_id, date_range)
    period_start = pd.date_range(start=date_range[0], end=date_range[1],freq='D')
    period_end = pd.date_range(start=date_range[0], end=date_range[1],freq='D')
    period_start = period_start + time_range[0];
    period_end = period_end + time_range[1];
    #range(len(period_start))
    #period_start[i]:period_end[i]
    
    periods = None
    for i in range(len(period_start)):
        if i == 0: 
            periods = ts[period_start[i]:period_end[i]]
        else:
            print('%d a'%(i))
            periods = periods.append(ts[period_start[i]:period_end[i]])
            print(periods)
    return periods;

In [11]:
def countShopPayTimePeriods(shop_id, date_range, time_range):
    ts = getShopPayTimeSeries(shop_id, date_range)
    period_start = pd.date_range(start=date_range[0], end=date_range[1],freq='D')
    period_end = pd.date_range(start=date_range[0], end=date_range[1],freq='D')
    period_start = period_start + time_range[0];
    period_end = period_end + time_range[1];
    #range(len(period_start))
    #period_start[i]:period_end[i]
    periods = pd.Series();
    for i in range(len(period_start)):
        count = ts[period_start[i]:period_end[i]].sum()
        periods[period_start[i]] = count;
        #print('%d %s %d a'%(i, period_start[i], count))
    return periods;

In [12]:
def plotShopPayCounts(shop_id, date_range, time_range):
    counts = countShopPayTimePeriods(shop_id, date_range, time_range)
    
    f, (ax) = plt.subplots(1, 1, figsize=(10, 5))
    
    ax.plot(counts.index, counts.values)
    info = shop_infos.ix[shop_id]
    print(type(info.cate_3_name))
    plt.title(info.cate_1_name + ' ' + info.cate_2_name + ('' if info.cate_3_name is None else info.cate_3_name), fontproperties=myfont)
    mean_value = np.mean(counts)
    ax.axhline(y=mean_value, linewidth=1, color='r')
    holiday_counts = choiceCalendarDay(counts, 0)
    #calendar.ix[s.index.strftime('%Y-%m-%d')][1]
    #calendar_filter = calendar.ix[counts.index.strftime('%Y-%m-%d')][1] == 1]
    #print(holiday_counts)
    ax.scatter(holiday_counts.index, holiday_counts.values, c='r')
    #ax.plot(holiday_counts.index, holiday_counts.values, 'r')
    plt.show()

In [13]:
#筛选出休息日或者工作日
def choiceCalendarDay(df, t):
    df.index = df.index.strftime('%Y-%m-%d')
    temp = calendar[calendar[1] == t]
    intersection = list(set(df.index.values) & set(temp.index.values))
    result = df[intersection];
    #print(result)
    result = pd.DataFrame(result)
    result.set_index(pd.to_datetime(result.index))
    result=result.sort_index()
    return result

In [14]:
def plotShopPayDayInfos(shop_id, start, count):
    
    info = shop_infos.ix[shop_id]
    
    f, (ax) = plt.subplots(1, 1, figsize=(15, 5))
    plt.title(info.cate_1_name + ' ' + info.cate_2_name + ('' if info.cate_3_name is None else info.cate_3_name), fontproperties=myfont)
    
    for i in range(count):
        start_time = start
        end_time = start_time + datetime.timedelta(1)
        s = getShopPayTimeSeries(id, date_range=[start_time, end_time])
        ax.plot(s.index, s.values, label=('holiday' if calendar.loc[start_time.strftime('%Y-%m-%d')][1] == 0 else 'workday'))
        start = end_time

    ax.legend()
    plt.show()

In [15]:
# date（index） | holiday | rain | count | from_open_date_day_count 
#时间维度：月份、节假日明细，周几、
#天气维度：气温、天气、风力
#历史维度：近（3,7,13,21）天均值、方差、最大值、最小值
#口碑维度：浏览量

In [16]:
# id = 4
# open_time = shop_open_date.loc[id]['date'];
# print(open_time)
# start_time = open_time;
# end_time = pd.to_datetime('2016-10-16')
# series = countShopPayTimePeriods(id, date_range=[start_time, end_time], time_range=[datetime.timedelta(hours=0), datetime.timedelta(hours=23)])
# df = series.to_frame()
#df=df.rename(columns = {0:'count'})
#df['holiday'] = calendar.loc[df.index.strftime('%Y-%m-%d')]['daytype'].values
#count_max = df['count'].quantile(0.95)
#count_min = df['count'].quantile(0.05)
#valid_df = df[(df['count'] <= count_max) & (df['count'] >= count_min)]
#temp_df = valid_df.reset_index(drop=True)

In [17]:
#获取（1、3、7）天的（均值avg 、标准差std、最大值max、最小值min）

In [18]:
def testStdCount(df, last):
    m = df.shape[0]
    if m < 2:
        return 0;
    elif m < last:
        return df.loc[0:m]['count'].std();
    else:
        return df.iloc[-last:]['count'].std();

In [19]:
def testExtremeCount(df, last):
    m = df.shape[0]
    if m == 0:
        return 0;
    elif m < last:
        return df.loc[0:m]['count'].max(), df.loc[0:m]['count'].min();
    else:
        return df.iloc[-last:]['count'].max(), df.loc[-last:]['count'].min();

In [20]:
def average_count(df, last):
    column_name = 'avg_count' + str(last);
    average_df = pd.DataFrame();
    average_df[column_name] = 0;
    data = []
    for i in range(df.shape[0]):
        if i == 0:
            data.append(df.loc[0:i]['count'].sum())
        elif i < last:
            data.append(df.loc[0:(i - 1)]['count'].sum() / i)
        else:
            data.append(df.loc[(i-last):(i - 1)]['count'].sum() / last)
            
    average_df[column_name] = data;
    return average_df;

In [21]:
def extreme_count(df, last):
    max_column_name = 'max_count' + str(last);
    min_column_name = 'min_count' + str(last);
    
    extreme_df = pd.DataFrame();
    extreme_df[max_column_name] = 0;
    extreme_df[min_column_name] = 0;
    
    max_data = []
    min_data = []
    
    for i in range(df.shape[0]):
        if i == 0:
            max_data.append(df.loc[0]['count']);
            min_data.append(df.loc[0]['count']);
        else:
            max_data.append(df.loc[(i-last):(i - 1)]['count'].max())
            min_data.append(df.loc[(i-last):(i - 1)]['count'].min())
            
    extreme_df[max_column_name] = max_data;
    extreme_df[min_column_name] = min_data;
    return extreme_df;

In [22]:
def std_count(df, last):
    column_name = 'std_count' + str(last);
    
    std_df = pd.DataFrame();
    std_df[column_name] = 0;
    
    data = []
    for i in range(df.shape[0]):
        if i < 2:
            data.append(0);
        else:
            data.append(df.loc[(i-last):(i - 1)]['count'].std())
    
    std_df[column_name] = data
    return std_df;

In [23]:
#df['count'][0:3].sum() / 3
#temp_df = pd.concat([average_count(temp_df, 1), temp_df], axis=1)
#temp_df = pd.concat([average_count(temp_df, 3), temp_df], axis=1)
#temp_df = pd.concat([average_count(temp_df, 7), temp_df], axis=1)
#average_count(temp_df, 3)
#average_count(temp_df, 7)
#temp_df = pd.concat([std_count(temp_df, 3), temp_df], axis=1)
#temp_df = pd.concat([std_count(temp_df, 7), temp_df], axis=1)
#temp_df = pd.concat([std_count(temp_df, 11), temp_df], axis=1)
#temp_df = pd.concat([extreme_count(temp_df, 3), temp_df], axis=1)
#result_df = temp_df.set_index(valid_df.index)
#result_df

In [24]:
from sklearn import ensemble
from sklearn import datasets
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_error

In [25]:
# offset = pd.to_datetime('2016-10-17')
# X_train = result_df[:offset].drop('count',axis=1)
# y_train = result_df[:offset]['count']
# X_test = result_df[offset:].drop('count',axis=1)
# y_test = result_df[offset:]['count']

NameError: name 'result_df' is not defined

In [26]:
def evaluation(y_test, y_pred):
    n = y_test.shape[0]
    return np.sum(np.abs(y_test - y_pred) / (y_test + y_pred)) / n

In [27]:
# params = {'n_estimators': 500, 'max_depth': 2, 'min_samples_split': 3,
#           'learning_rate': 0.02, 'loss': 'ls'}
# clf = ensemble.GradientBoostingRegressor(**params) 
# clf.fit(X_train, y_train)
# y_pred = clf.predict(X_test)
# mse = mean_squared_error(y_test, y_pred)
# print("MSE: %.4f" % mse)
# evaluation(y_test, y_pred)

In [28]:
def getTestCount(id):
    series = countShopPayTimePeriods(id, date_range=[pd.to_datetime('2016-10-18'), pd.to_datetime('2016-10-31')], 
                                     time_range=[datetime.timedelta(hours=0), datetime.timedelta(hours=23)])
    df = series.to_frame()
    df=df.rename(columns = {0:'count'})
    return df['count'];

In [29]:
city_names = pd.read_csv("./data/dataset/dataset/city_name.txt", index_col=0, encoding='UTF-8',parse_dates=True)

In [52]:
def readWeatherData(city):
    print(city)
    weather_info = pd.read_csv("./data/dataset/dataset/weather/process_" + city['pinyin'], 
#                               names=['max','min','desc','wind_level'],
                               index_col=0, encoding='UTF-8',parse_dates=True, dtype={'desc':object, 'wind_level':object})
    return weather_info

In [32]:
def trainModel(X_train, y_train):
    params = {'n_estimators': 500, 'max_depth': 2, 'min_samples_split': 3,
          'learning_rate': 0.02, 'loss': 'ls'}
    clf = ensemble.GradientBoostingRegressor(**params) 
    clf.fit(X_train, y_train)
    return clf;

In [33]:
def predictNextDay(X_test):
    return clf.predict(X_test)

In [35]:
def testAverageCount(df, last):
    m = df.shape[0]
    if m == 0:
        return 0;
    elif m == 1:
        return df.loc[0]['count'];
    elif m < last:
        return df.loc[0:m]['count'].sum() / m;
    else:
        arg = df.iloc[-last:]['count'].sum() / last;
        return arg

In [66]:
def initNextDayData(date, train_df, id):
    
    avg_count1 = testAverageCount(train_df, 1)
    avg_count3 = testAverageCount(train_df, 3)
    avg_count7 = testAverageCount(train_df, 7)
    
    max_count, min_count = testExtremeCount(train_df, 3)
    
    std_count3 = testStdCount(train_df, 3)
    std_count7 = testStdCount(train_df, 7)
    std_count11 = testStdCount(train_df, 11)
    
    holiday = calendar.loc[date.strftime('%Y-%m-%d')]['daytype']
    
    #获取商店信息
    info = shop_infos.ix[id]
    #获取天气
    weather = readWeatherData(city_names.loc[info['city']])
    
    
    series = pd.Series([avg_count1, avg_count3, avg_count7, max_count, min_count, std_count3, std_count7, std_count11, holiday],
              index=['avg_count1','avg_count3','avg_count7','max_count3','min_count3','std_count3','std_count7','std_count11', 'holiday']);
    
    series = series.append(weather.ix[date])
    print(series)
    return series;

In [50]:
def initTrainData(id):
    open_time = shop_open_date.loc[id]['date'];
    series = countShopPayTimePeriods(id, date_range=[open_time, pd.to_datetime('2016-10-17')], time_range=[datetime.timedelta(hours=0), datetime.timedelta(hours=23)])
    df = series.to_frame()
    df=df.rename(columns = {0:'count'})
    df['holiday'] = calendar.loc[df.index.strftime('%Y-%m-%d')]['daytype'].values
    
    #获取商店信息
    info = shop_infos.ix[id]
    #获取天气
    weather = readWeatherData(city_names.loc[info['city']])
    #print(weather)
    #print(df)
    df = pd.merge(df, weather, how='left', left_index=True, right_index=True)
    
    #print(df)
    #result = pd.merge(left, right, how='left', left_index=True, right_index=True)
    #df['temperature_max'], df['temperature_min'], df['weather_desc'], df['wind_level'] = weather.loc[df.index.strftime('%Y-%m-%d')][]
    count_max = df['count'].quantile(0.95)
    count_min = df['count'].quantile(0.05)
    valid_df = df[(df['count'] <= count_max) & (df['count'] >= count_min)]
    
    temp_df = valid_df.reset_index(drop=True)

    temp_df = pd.concat([average_count(temp_df, 1), temp_df], axis=1)
    temp_df = pd.concat([average_count(temp_df, 3), temp_df], axis=1)
    temp_df = pd.concat([average_count(temp_df, 7), temp_df], axis=1)
    temp_df = pd.concat([extreme_count(temp_df, 3), temp_df], axis=1)
    temp_df = pd.concat([std_count(temp_df, 3), temp_df], axis=1)
    temp_df = pd.concat([std_count(temp_df, 7), temp_df], axis=1)
    temp_df = pd.concat([std_count(temp_df, 11), temp_df], axis=1)

    #result_df = temp_df.set_index(valid_df.index)

    return temp_df

In [69]:
evaluations = []
predict_date = pd.date_range(start='10/18/2016', end='10/31/2016', freq='D', normalize=True)
m = shop_open_date.shape[0];

temp = 0
evaluations = {}
for id in range(1, 11):
    train_df = initTrainData(id)  
    #print('train_df size=%d'%(train_df.shape[0]))
    for date in predict_date:
        X_train, y_train = train_df.drop('count',axis=1), train_df['count']
        clf = trainModel(X_train, y_train)
        
        series = initNextDayData(date, train_df, id)
        next_dataframe = series.to_frame().T
        next_dataframe['holiday'] = next_dataframe['holiday'].astype(np.int32);
        #print(next_dataframe)
        count = predictNextDay(next_dataframe)
        series['count'] = count;
        temp = series.to_frame()
        train_df = train_df.append(series, ignore_index = True)
        train_df['count'] = train_df['count'].astype(np.int32);
        train_df['holiday'] = train_df['holiday'].astype(np.int32);
        
    e = evaluation(getTestCount(id).values, train_df.iloc[-14:]['count'].values)
    print("id=%d evaluation=%f"%(id, e))
    evaluations[id] = e

pinyin    huzhou
Name: 湖州, dtype: object
            max  min desc wind_level
date
2015-07-01   26   20    3          1
2015-07-02   29   21    1          1
2015-07-03   29   21    1          1
2015-07-04   24   20    3          1
2015-07-05   22   19    3          1
2015-07-06   22   18    3          1
2015-07-07   23   19    4          1
2015-07-08   24   22    3          1
2015-07-09   27   23    3          1
2015-07-10   27   23    3          1
2015-07-11   25   23    5          1
2015-07-12   28   24    3          1
2015-07-13   33   24    1          1
2015-07-14   34   23    1          1
2015-07-15   33   24    1          1
2015-07-16   29   24    3          1
2015-07-17   28   24    3          1
2015-07-18   28   24    2          1
2015-07-19   29   24    1          1
2015-07-20   30   24    1          1
2015-07-21   29   24    3          1
2015-07-22   31   25    3          1
2015-07-23   30   26    5          1
2015-07-24   31   26    3          1
2015-07-25   31   26    5          1
2015-07-26   33   26    5          1
2015-07-27   36   26    1          1
2015-07-28   37   26    1          1
2015-07-29   37   27    1          1
2015-07-30   35   25    1          1
...         ...  ...  ...        ...
2016-11-01   16    7    1          1
2016-11-02   17    7    1          1
2016-11-03   17    8    1          1
2016-11-04   21    8    1          1
2016-11-05   23   12    1          1
2016-11-06   23   14    1          1
2016-11-07   21   13    2          1
2016-11-08   12    9    2          1
2016-11-09   13    9    1          1
2016-11-10   14    5    1          1
2016-11-11   18    9    1          1
2016-11-12   19   12    1          1
2016-11-13   20   15    1          1
2016-11-14   19   13    1          1
2016-11-15   18   10    1          1
2016-11-16   17   15    3          1
2016-11-17   17   15    2          1
2016-11-18   23   16    1          1
2016-11-19   17    0    3          1
2016-11-20   19   15    2          1
2016-11-21   18    9    2          1
2016-11-22   12    5    2          1
2016-11-23    4    1    2          1
2016-11-24    7    2    1          1
2016-11-25    9    4    2          1
2016-11-26    7    3    2          1
2016-11-27   12    2    1          1
2016-11-28   13    3    1          1
2016-11-29   13    8    1          1
2016-11-30   13    5    1          1

[519 rows x 4 columns]
            count  holiday
2015-10-10    188        2
2015-10-11    272        3
2015-10-12    257        5
2015-10-13    239        1
2015-10-14    277        1
2015-10-15    227        1
2015-10-16    242        1
2015-10-17    293        2
2015-10-18    291        3
2015-10-19    256        5
2015-10-20    262        1
2015-10-21    271        1
2015-10-22    260        1
2015-10-23    240        1
2015-10-24    291        2
2015-10-25    286        3
2015-10-26    264        5
2015-10-27    295        1
2015-10-28    310        1
2015-10-29    212        1
2015-10-30    331        1
2015-10-31    347        2
2015-11-01    381        3
2015-11-02    332        5
2015-11-03    404        1
2015-11-04    392        1
2015-11-05    496        1
2015-11-06    430        1
2015-11-07    351        2
2015-11-08    288        3
...           ...      ...
2016-09-18    233        2
2016-09-19    186        3
2016-09-20    223        1
2016-09-21    206        1
2016-09-22    220        1
2016-09-23    241        1
2016-09-24    272        2
2016-09-25    240        3
2016-09-26    225        5
2016-09-27    231        1
2016-09-28    164        1
2016-09-29    182        1
2016-09-30    303        1
2016-10-01    309        2
2016-10-02    212        3
2016-10-03    280        4
2016-10-04    277        4
2016-10-05    258        4
2016-10-06    232        4
2016-10-07    259        5
2016-10-08    247        1
2016-10-09    256        2
2016-10-10    239        3
2016-10-11    254        1
2016-10-12    239        1
2016-10-13    228        1
2016-10-14    244        1
2016-10-15    264        2
2016-10-16    264        3
2016-10-17    207        5

[374 rows x 2 columns]
            count  holiday  max  min desc wind_level
2015-10-10    188        2   24   10    1          1
2015-10-11    272        3   22   11    1          1
2015-10-12    257        5   24   11    1          1
2015-10-13    239        1   23   12    1          1
2015-10-14    277        1   24   12    1          1
2015-10-15    227        1   24   14    1          1
2015-10-16    242        1   27   14    1          1
2015-10-17    293        2   26   14    1          1
2015-10-18    291        3   25   15    1          1
2015-10-19    256        5   24   15    1          1
2015-10-20    262        1   24   15    1          1
2015-10-21    271        1   25   16    1          1
2015-10-22    260        1   25   16    1          1
2015-10-23    240        1   24   17    1          1
2015-10-24    291        2   25   17    1          1
2015-10-25    286        3   25   17    1          1
2015-10-26    264        5   26   14    3          1
2015-10-27    295        1   21   12    1          1
2015-10-28    310        1   19   13    3          1
2015-10-29    212        1   16   14    3          1
2015-10-30    331        1   16   13    1          1
2015-10-31    347        2   17   12    3          1
2015-11-01    381        3   14    7    1          1
2015-11-02    332        5   17    8    1          1
2015-11-03    404        1   20   12    1          1
2015-11-04    392        1   18   15    1          1
2015-11-05    496        1   22   16    1          1
2015-11-06    430        1   26   18    3          1
2015-11-07    351        2   21   14    3          1
2015-11-08    288        3   13   10    3          1
...           ...      ...  ...  ...  ...        ...
2016-09-18    233        2   26   21    1          1
2016-09-19    186        3   26   19    1          1
2016-09-20    223        1   26   18    1          1
2016-09-21    206        1   25   18    1          1
2016-09-22    220        1   27   18    1          1
2016-09-23    241        1   28   19    1          1
2016-09-24    272        2   29   21    1          1
2016-09-25    240        3   29   21    1          1
2016-09-26    225        5   30   23    1          1
2016-09-27    231        1   29   23    3          1
2016-09-28    164        1   26   21    4          2
2016-09-29    182        1   24   21    4          1
2016-09-30    303        1   26   20    2          1
2016-10-01    309        2   27   22    1          1
2016-10-02    212        3   30   21    1          1
2016-10-03    280        4   25   19    1          1
2016-10-04    277        4   26   19    1          1
2016-10-05    258        4   26   21    1          1
2016-10-06    232        4   26   21    3          1
2016-10-07    259        5   23   19    3          1
2016-10-08    247        1   21   15    1          1
2016-10-09    256        2   22   15    1          1
2016-10-10    239        3   22   14    1          1
2016-10-11    254        1   23   16    1          1
2016-10-12    239        1   22   18    2          1
2016-10-13    228        1   21   18    1          1
2016-10-14    244        1   21   18    2          1
2016-10-15    264        2   23   19    2          1
2016-10-16    264        3   24   18    1          1
2016-10-17    207        5   22   18    1          1

[374 rows x 6 columns]
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         207
avg_count3         245
avg_count7     242.857
max_count3         264
min_count3         159
std_count3      32.909
std_count7     20.5785
std_count11    17.1077
holiday              1
max                 24
min                 19
desc                 1
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        207        245    242.857        264        159     32.909

  std_count7 std_count11  holiday max min desc wind_level
0    20.5785     17.1077        1  24  19    1          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         287
avg_count3     252.667
avg_count7     247.571
max_count3         287
min_count3         159
std_count3     41.1866
std_count7     26.4881
std_count11    20.9593
holiday              1
max                 22
min                 19
desc                 3
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        287    252.667    247.571        287        159    41.1866

  std_count7 std_count11  holiday max min desc wind_level
0    26.4881     20.9593        1  22  19    3          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         275
avg_count3     256.333
avg_count7     252.714
max_count3         287
min_count3         159
std_count3     43.1432
std_count7     27.9983
std_count11    22.4601
holiday              1
max                 22
min                 20
desc                 3
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        275    256.333    252.714        287        159    43.1432

  std_count7 std_count11  holiday max min desc wind_level
0    27.9983     22.4601        1  22  20    3          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         273
avg_count3     278.333
avg_count7     259.143
max_count3         287
min_count3         159
std_count3     7.57188
std_count7     26.5043
std_count11      23.43
holiday              1
max                 24
min                 20
desc                 3
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        273    278.333    259.143        287        159    7.57188

  std_count7 std_count11  holiday max min desc wind_level
0    26.5043       23.43        1  24  20    3          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         274
avg_count3         274
avg_count7     263.429
max_count3         275
min_count3         159
std_count3           1
std_count7     26.0695
std_count11    23.8339
holiday              2
max                 22
min                 19
desc                 4
wind_level           2
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        274        274    263.429        275        159          1

  std_count7 std_count11  holiday max min desc wind_level
0    26.0695     23.8339        2  22  19    4          2
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         236
avg_count3         261
avg_count7     259.429
max_count3         274
min_count3         159
std_count3     21.6564
std_count7     28.0408
std_count11    24.5442
holiday              3
max                 22
min                 17
desc                 2
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        236        261    259.429        274        159    21.6564

  std_count7 std_count11  holiday max min desc wind_level
0    28.0408     24.5442        3  22  17    2          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         252
avg_count3         254
avg_count7     257.714
max_count3         274
min_count3         159
std_count3     19.0788
std_count7     28.0815
std_count11    24.0726
holiday              5
max                 23
min                 19
desc                 1
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        252        254    257.714        274        159    19.0788

  std_count7 std_count11  holiday max min desc wind_level
0    28.0815     24.0726        5  23  19    1          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         266
avg_count3     251.333
avg_count7     266.143
max_count3         266
min_count3         159
std_count3     15.0111
std_count7     16.9846
std_count11    22.5001
holiday              1
max                 22
min                 19
desc                 2
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        266    251.333    266.143        266        159    15.0111

  std_count7 std_count11  holiday max min desc wind_level
0    16.9846     22.5001        1  22  19    2          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         261
avg_count3     259.667
avg_count7     262.429
max_count3         266
min_count3         159
std_count3      7.0946
std_count7     14.2929
std_count11     21.993
holiday              1
max                 21
min                 18
desc                 3
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        261    259.667    262.429        266        159     7.0946

  std_count7 std_count11  holiday max min desc wind_level
0    14.2929      21.993        1  21  18    3          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         261
avg_count3     262.667
avg_count7     260.429
max_count3         266
min_count3         159
std_count3     2.88675
std_count7     13.1765
std_count11    21.9557
holiday              1
max                 22
min                 15
desc                 3
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        261    262.667    260.429        266        159    2.88675

  std_count7 std_count11  holiday max min desc wind_level
0    13.1765     21.9557        1  22  15    3          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         260
avg_count3     260.667
avg_count7     258.571
max_count3         261
min_count3         159
std_count3     0.57735
std_count7     11.9702
std_count11    21.9093
holiday              1
max                 18
min                 13
desc                 3
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        260    260.667    258.571        261        159    0.57735

  std_count7 std_count11  holiday max min desc wind_level
0    11.9702     21.9093        1  18  13    3          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         271
avg_count3         264
avg_count7     258.143
max_count3         271
min_count3         159
std_count3     6.08276
std_count7     11.3641
std_count11    13.5385
holiday              2
max                 14
min                 11
desc                 2
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        271        264    258.143        271        159    6.08276

  std_count7 std_count11  holiday max min desc wind_level
0    11.3641     13.5385        2  14  11    2          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         273
avg_count3         268
avg_count7     263.429
max_count3         273
min_count3         159
std_count3           7
std_count7     7.18464
std_count11    11.8222
holiday              3
max                 18
min                 14
desc                 1
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        273        268    263.429        273        159          7

  std_count7 std_count11  holiday max min desc wind_level
0    7.18464     11.8222        3  18  14    1          1
pinyin    huzhou
Name: 湖州, dtype: object
avg_count1         281
avg_count3         275
avg_count7     267.571
max_count3         281
min_count3         159
std_count3      5.2915
std_count7     7.82852
std_count11    12.5082
holiday              5
max                 15
min                 12
desc                 2
wind_level           1
dtype: object
  avg_count1 avg_count3 avg_count7 max_count3 min_count3 std_count3  \
0        281        275    267.571        281        159     5.2915

  std_count7 std_count11  holiday max min desc wind_level
0    7.82852     12.5082        5  15  12    2          1
id=1 evaluation=0.090103
pinyin    haerbin
Name: 哈尔滨, dtype: object
            max  min desc wind_level
date
2015-07-01   23   15    5          2
2015-07-02   23   14    1          2
2015-07-03   24   15    5          2
2015-07-04   29   16    1          2
2015-07-05   30   18    1          2
2015-07-06   31   19    1          2
2015-07-07   31   20    1          2
2015-07-08   32   20    1          2
2015-07-09   33   22    1          2
2015-07-10   34   22    5          2
2015-07-11   28   21    5          2
2015-07-12   28   20    5          2
2015-07-13   26   18    3          2
2015-07-14   27   16    1          2
2015-07-15   26   15    1          2
2015-07-16   29   16    1          2
2015-07-17   27   17    1          2
2015-07-18   30   18    1          2
2015-07-19   32   20    1          2
2015-07-20   32   22    1          2
2015-07-21   30   21    5          2
2015-07-22   29   21    5          2
2015-07-23   28   21    5          2
2015-07-24   27   21    5          2
2015-07-25   28   22    5          2
2015-07-26   29   20    5          2
2015-07-27   28   19    1          2
2015-07-28   28   18    1          2
2015-07-29   27   18    1          2
2015-07-30   28   18    1          2
...         ...  ...  ...        ...
2016-11-01    0   -8    1          1
2016-11-02    2   -8    1          1
2016-11-03   -2  -10    1          1
2016-11-04    1   -7    3          1
2016-11-05   -1  -12    2          1
2016-11-06   -5   -9    2          1
2016-11-07   -3  -13    3          1
2016-11-08   -4  -14    1          1
2016-11-09   -3  -12    1          1
2016-11-10    0   -6    4          1
2016-11-11    0  -13    4          1
2016-11-12   -3  -14    1          1
2016-11-13    0   -8    4          2
2016-11-14   -3  -13    1          1
2016-11-15   -5  -15    1          1
2016-11-16   -4  -17    1          1
2016-11-17   -3  -14    1          1
2016-11-18   -4  -10    1          1
2016-11-19   -8  -17    3          1
2016-11-20  -11  -21    1          1
2016-11-21  -11  -21    1          1
2016-11-22  -13  -23    1          1
2016-11-23  -12  -22    1          1
2016-11-24  -10  -20    1          1
2016-11-25   -5  -20    1          1
2016-11-26    0  -12    3          1
2016-11-27  -10  -17    3          1
2016-11-28   -6  -17    1          1
2016-11-29   -5  -18    1          1
2016-11-30   -1   -8    2          1

[519 rows x 4 columns]
            count  holiday
2015-11-25     55        1
2015-11-26    175        1
2015-11-27    186        1
2015-11-28     94        2
2015-11-29     29        3
2015-11-30     20        5
2015-12-01     21        1
2015-12-02     30        1
2015-12-03     27        1
2015-12-04     21        1
2015-12-05     26        2
2015-12-06     50        3
2015-12-07    119        5
2015-12-08    222        1
2015-12-09    246        1
2015-12-10    297        1
2015-12-11    338        1
2015-12-12      0        2
2015-12-13    102        3
2015-12-14     61        5
2015-12-15     73        1
2015-12-16     74        1
2015-12-17     78        1
2015-12-18    103        1
2015-12-19    100        2
2015-12-20    132        3
2015-12-21     94        5
2015-12-22    110        1
2015-12-23    102        1
2015-12-24    123        1
...           ...      ...
2016-09-18     82        2
2016-09-19     74        3
2016-09-20     77        1
2016-09-21     82        1
2016-09-22     71        1
2016-09-23     71        1
2016-09-24     96        2
2016-09-25    121        3
2016-09-26     67        5
2016-09-27     67        1
2016-09-28     81        1
2016-09-29     67        1
2016-09-30    112        1
2016-10-01    161        2
2016-10-02    104        3
2016-10-03     88        4
2016-10-04    121        4
2016-10-05    125        4
2016-10-06    108        4
2016-10-07     95        5
2016-10-08     34        1
2016-10-09      0        2
2016-10-10      0        3
2016-10-11      0        1
2016-10-12      0        1
2016-10-13      0        1
2016-10-14      0        1
2016-10-15      0        2
2016-10-16      0        3
2016-10-17      0        5


ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
evaluations

In [63]:
evaluation_df = pd.DataFrame.from_dict(evaluations, orient='index');

In [65]:
evaluation_df.columns = ['evaluation']

In [69]:
evaluation_df.index.name = 'id'

In [ ]:
evaluation_df

In [71]:
#evaluation_df.to_csv("./data/dataset/dataset/evaluation.txt", sep='\t', index=True, encoding='UTF-8')

In [73]:
evaluation_df.sort_values('evaluation')

      evaluation
id
53      0.038766
1584    0.040408
1916    0.040647
293     0.040825
1976    0.044379
1895    0.047927
1575    0.048722
838     0.049773
928     0.050344
875     0.050841
103     0.052014
598     0.052183
1932    0.054293
1017    0.055488
1518    0.056017
110     0.056494
914     0.058210
1845    0.058487
357     0.059040
1041    0.059766
1635    0.060440
1006    0.060549
1354    0.060719
965     0.060918
1543    0.061283
874     0.061834
1505    0.062331
211     0.062768
1522    0.062799
1312    0.062844
...          ...
1539    0.726209
1083    0.726487
899     0.726599
948     0.731904
1620    0.740600
1418    0.742937
760     0.747249
1046    0.748424
169     0.749807
164     0.750104
10      0.753424
445     0.755176
501     0.757760
693     0.758300
272     0.763092
1591    0.766014
1297    0.769048
1462    0.781377
513     0.782109
1608    0.783851
314     0.795802
1707    0.806495
1556    0.839021
1526    0.839880
379     0.840504
742     0.886725
1470    0.910183
1824    1.000000
700          NaN
1925         NaN

[2000 rows x 1 columns]

In [77]:
good_pred = evaluation_df[evaluation_df['evaluation'] <= 0.15]

In [78]:
good_pred.shape

(432, 1)

In [46]:
train_df.iloc[-2:]['count'].sum()

615

In [67]:
train_df.iloc[86]['count'].sum()

-1.0

In [15]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']},
                    index=pd.Index(['K0', 'K1', 'K2'], name='key')) 
 

right = pd.DataFrame({'C': ['C0', 'C1', 'C2','C3'],
                       'D': ['D0', 'D1', 'D2','D3']},
                       index=pd.Index(['K0', 'K1', 'K2', 'K3'], name='key'))
 

result = pd.merge(left, right, how='left', left_index=True, right_index=True)

In [16]:
result

      A   B   C   D
key
K0   A0  B0  C0  D0
K1   A1  B1  C1  D1
K2   A2  B2  C2  D2

In [45]:
city_names.loc['安康']

pinyin    ankang
Name: 安康, dtype: object