In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
user_view_df = pd.read_csv("./data/dataset/dataset/user_view.txt",encoding='UTF-8', header=None, names=['user_id', 'shop_id', 'date'], parse_dates=[2])
extra_user_view_df = pd.read_csv("./data/dataset/dataset/extra_user_view/20170112/extra_user_view.txt",encoding='UTF-8',header=None, names=['user_id', 'shop_id', 'date'], parse_dates=[2])
user_view_df = pd.concat([user_view_df, extra_user_view_df])

In [3]:
grouped = user_view_df.groupby(['shop_id','date'])
user_view_df = grouped.count()
user_view_df.reset_index(inplace=True)
#user_view_count_df = user_view_count_df.set_index('shop_id')
user_view_df.rename(columns={'user_id':'count'}, inplace = True)
count_pivot = user_view_df.pivot(index='shop_id', columns='date', values='count')
count_pivot.columns.name = None

In [4]:
time_index=pd.date_range(start='6/25/2015', end='11/1/2016', freq='H')
user_view_count_df = pd.DataFrame(data=None, index=None, columns=time_index, dtype=None, copy=False)
user_view_count_df.index.name = 'shop_id'
user_view_count_df = user_view_count_df.append(count_pivot)

Empty DataFrame
Columns: [2015-06-25 00:00:00, 2015-06-25 01:00:00, 2015-06-25 02:00:00, 2015-06-25 03:00:00, 2015-06-25 04:00:00, 2015-06-25 05:00:00, 2015-06-25 06:00:00, 2015-06-25 07:00:00, 2015-06-25 08:00:00, 2015-06-25 09:00:00, 2015-06-25 10:00:00, 2015-06-25 11:00:00, 2015-06-25 12:00:00, 2015-06-25 13:00:00, 2015-06-25 14:00:00, 2015-06-25 15:00:00, 2015-06-25 16:00:00, 2015-06-25 17:00:00, 2015-06-25 18:00:00, 2015-06-25 19:00:00, 2015-06-25 20:00:00, 2015-06-25 21:00:00, 2015-06-25 22:00:00, 2015-06-25 23:00:00, 2015-06-26 00:00:00, 2015-06-26 01:00:00, 2015-06-26 02:00:00, 2015-06-26 03:00:00, 2015-06-26 04:00:00, 2015-06-26 05:00:00, 2015-06-26 06:00:00, 2015-06-26 07:00:00, 2015-06-26 08:00:00, 2015-06-26 09:00:00, 2015-06-26 10:00:00, 2015-06-26 11:00:00, 2015-06-26 12:00:00, 2015-06-26 13:00:00, 2015-06-26 14:00:00, 2015-06-26 15:00:00, 2015-06-26 16:00:00, 2015-06-26 17:00:00, 2015-06-26 18:00:00, 2015-06-26 19:00:00, 2015-06-26 20:00:00, 2015-06-26 21:00:00, 2015-06-26 22:00:00, 2015-06-26 23:00:00, 2015-06-27 00:00:00, 2015-06-27 01:00:00, 2015-06-27 02:00:00, 2015-06-27 03:00:00, 2015-06-27 04:00:00, 2015-06-27 05:00:00, 2015-06-27 06:00:00, 2015-06-27 07:00:00, 2015-06-27 08:00:00, 2015-06-27 09:00:00, 2015-06-27 10:00:00, 2015-06-27 11:00:00, 2015-06-27 12:00:00, 2015-06-27 13:00:00, 2015-06-27 14:00:00, 2015-06-27 15:00:00, 2015-06-27 16:00:00, 2015-06-27 17:00:00, 2015-06-27 18:00:00, 2015-06-27 19:00:00, 2015-06-27 20:00:00, 2015-06-27 21:00:00, 2015-06-27 22:00:00, 2015-06-27 23:00:00, 2015-06-28 00:00:00, 2015-06-28 01:00:00, 2015-06-28 02:00:00, 2015-06-28 03:00:00, 2015-06-28 04:00:00, 2015-06-28 05:00:00, 2015-06-28 06:00:00, 2015-06-28 07:00:00, 2015-06-28 08:00:00, 2015-06-28 09:00:00, 2015-06-28 10:00:00, 2015-06-28 11:00:00, 2015-06-28 12:00:00, 2015-06-28 13:00:00, 2015-06-28 14:00:00, 2015-06-28 15:00:00, 2015-06-28 16:00:00, 2015-06-28 17:00:00, 2015-06-28 18:00:00, 2015-06-28 19:00:00, 2015-06-28 20:00:00, 2015-06-28 21:00:00, 2015-06-28 22:00:00, 2015-06-28 23:00:00, 2015-06-29 00:00:00, 2015-06-29 01:00:00, 2015-06-29 02:00:00, 2015-06-29 03:00:00, ...]
Index: []

[0 rows x 11881 columns]

In [13]:
lack = set(range(1, 2001)) - set(user_view_count_df.index.values)
for id in lack:
    user_view_count_df.ix[id] = 0

In [17]:
user_view_count_df = user_view_count_df.fillna(0)
user_view_count_df = user_view_count_df.astype(np.int32)
user_view_count_df = user_view_count_df.sort_index()

In [22]:
user_view_count_df.to_csv("./data/dataset/dataset/user_view_count.txt", sep='\t', index=True, encoding='UTF-8')